/* Main Style Document for Academic CV Web Site */
/* By Andrew Reid East */
/* Sass Variable Definitions */
/* **************************************************************************** */
/* *****************************  Begin Style.css ***************************** */
/* **************************************************************************** */
@media (min-width: 768px) {
  #masterContainer {
    width: 750px; } }

@media (min-width: 992px) {
  #masterContainer {
    width: 970px; } }

@media (min-width: 1200px) {
  #masterContainer {
    width: 970px; } }

@media (min-width: 480px) {
  #foo {
    color: #DA7500 !important; } }

@media (min-width: 768px) {
  #bar {
    color: #DA7500 !important; } }

@media (min-width: 992px) {
  #baz {
    color: #DA7500 !important; } }

@media (min-width: 1200px) {
  #bam {
    color: #DA7500 !important; } }

body {
  overflow-x: auto;
  overflow-y: scroll; }

#masterContainer, #headerContainer {
  padding: 0; }

#masterContainer > * {
  margin-left: 0;
  margin-right: 0; }

h1, h2 {
  font-family: Alegreya, serif; }

/* ****************** Removing Bootstrap's Nav Styles ************************** */
.navbar-default {
  box-shadow: none;
  border: none;
  margin-bottom: 0; }

#collapsing-navbar-area > * {
  margin: 0; }

ul.nav a {
  padding-left: 7.5px;
  padding-right: 7.5px; }

#headerContainer {
  margin: 0; }

#headerRow {
  margin: 0;
  padding: 0; }

#headerLinks {
  padding-right: 0; }
  #headerLinks > ul {
    margin-bottom: 0; }

#headerIcons > ul {
  margin-top: 0; }

#headerSocialMedia {
  padding-top: 10px;
  padding-bottom: 10px; }
  @media (min-width: 768px) {
    #headerSocialMedia {
      padding-top: 37.5px;
      padding-bottom: 37.5px; } }
  #headerSocialMedia a {
    color: #555;
    padding: 0; }
    #headerSocialMedia a i {
      line-height: 20px; }
  #headerSocialMedia span {
    padding-left: 7px; }
  #headerSocialMedia span:last-child {
    padding-right: 7px; }

#header {
  /* z-index: 5; */ }

.headerName {
  background: #B3CB44;
  text-align: center;
  /* http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ */ }

.navbar-brand {
  background-color: inherit; }

.navbar-default .navbar-brand {
  color: inherit; }

.navbar-default .navbar-brand:hover {
  color: inherit;
  background-color: inherit; }

.headerName h1 {
  margin: 0 0 6px 0;
  font-size: 1em; }

.headerName h3 {
  font-size: 0.8em; }

#headerNav {
  /* float:right; */ }

#backgroundImage {
  position: absolute;
  height: 100vh;
  /* vh = viewport height, 100vh = 100% of viewport */
  top: 100px;
  left: 0px;
  width: 100%;
  padding: 0;
  z-index: -10;
  margin: 0;
  /* parallax scrolling technique: http://code.tutsplus.com/tutorials/a-simple-parallax-scrolling-technique--net-27641 */
  background-image: url("../img/pageElements/photo-1444342679470-e4512355de5e_PattiBlack.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0px;
  /* -webkit-transform: translateZ(0); */
  /* TODO: Make multiple iimages at different sizes for different browser viewports. 
           Switch them out with a media query with especially narrow viewport to prevent this "midriff showing" issue */
  background-color: red; }

#aboveTheFold {
  /* position: absolute; */
  /* top:100px; */
  height: 100vh; }

#byline {
  /* width: 364.5px; */
  /* width: 220px; */
  height: 100%;
  /* height: 600px; */
  text-align: center; }
  @media (max-width: 767px) {
    #byline {
      color: #01141A;
      text-shadow: 1px -1px #999; } }
  @media (min-width: 768px) {
    #byline {
      background: #eee;
      opacity: .6;
      color: #555; } }

#byline h1 {
  font-family: "Alegreya SC", Alegreya, serif;
  font-weight: normal; }

#byline h2 {
  font-size: 1.8em;
  font-weight: normal; }

#belowTheFold {
  /* background: transparent; */
  /* min-height: 100%; */
  /* top: 0; */
  /* left: 0; */ }

/* fix to remove margin-top from all children of a position:relative conainer
#siteContainer * 
{
  margin-top: 0;
} */
#section1 {
  /* top: 700px; */
  height: 100%; }

#section1image {
  padding: 0; }

#section1image img {
  width: 100%;
  /* width and height in html: 377px x 444px */ }

#section1text {
  height: 100%;
  background: #eee;
  padding: 100px 60px;
  color: #555;
  text-align: center; }

#section2 {
  height: 300px; }

#section2button {
  background: #555;
  text-align: center;
  /* padding: 50px 50px; */ }

#section2button h2 {
  /* margin: 70px 70px; */
  color: #eee;
  font-weight: normal; }

#section2button a {
  text-decoration: none;
  color: #eee; }

#section2text {
  background: #B3CB44;
  padding: 0 60px;
  color: #eee;
  text-align: center; }

#footerContainer {
  position: relative;
  height: 300px;
  color: white; }

#footerBackgroundImage {
  position: absolute;
  height: 300px;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: -10;
  /* parallax scrolling technique: http://code.tutsplus.com/tutorials/a-simple-parallax-scrolling-technique--net-27641 */
  background-image: url("../img/pageElements/garageDoorH.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0px;
  /* -webkit-transform: translateZ(0); */
  /* TODO: are multiple sizes needed for this bg-image? */
  background-color: red; }

#footer {
  /* top: 744px; */ }

#footer > div:first-child {
  border-right: 1px solid white; }

#footer > div:last-child {
  border-left: 1px solid white; }

.footerSection {
  /* width: 33.2%; */
  /* 33.3% = 318px */
  /* position:relative; */
  text-align: center; }

#footerName h1 {
  font-variant: small-caps;
  font-weight: normal; }

#footerName h3 {
  font-weight: normal; }

/*#footerLinksSocial
{
  padding-right: 20px;
  position: absolute;
  top: 39px;
  right: 0px; 
}*/
#footerLinksSocial a {
  color: white; }

.verticalCenter {
  /* http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  margin: 0;
  padding: 0;
  /* background:teal; */ }

.verticalCenter *:first-child {
  margin-top: 0; }

.verticalCenter *:last-child {
  margin-bottom: 0; }

.flipHorizontal {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1); }
