/* Main Style Document for Academic CV Web Site */
/* By Andrew Reid East */
/* Sass Variable Definitions */
/* ******************************** General Transformation Classes ******************************** */
.socialMediaButtons a i {
  line-height: 20px; }

.socialMediaButtons span {
  padding-left: 7px; }

.socialMediaButtons span:first-child {
  padding-left: 0; }

.nameplate h1 {
  font-size: 18px;
  margin-bottom: 5px; }

.nameplate h3 {
  font-size: 16px;
  margin-top: 0; }

.verticalCenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  /* http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ */ }
  .verticalCenter > *:first-child {
    /* or .verticalCenter > *:first-child ?? */
    margin-top: 0; }
  .verticalCenter > *:last-child {
    margin-bottom: 0; }

.flipHorizontal {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1); }

/* **************************************************************************** */
/* *****************************  Begin Style.css ***************************** */
/* **************************************************************************** */
#masterContainer, #headerContainer, #footerContainer {
  padding: 0; }
  @media (min-width: 768px) {
    #masterContainer, #headerContainer, #footerContainer {
      width: 750px; } }
  @media (min-width: 992px) {
    #masterContainer, #headerContainer, #footerContainer {
      width: 970px; } }

#masterContainer > * {
  margin-left: 0;
  margin-right: 0; }

@media (min-width: 768px) {
  #headerContainer:before {
    height: 100px;
    background-color: white;
    position: absolute;
    top: 0;
    margin-left: 0;
    width: 100vw;
    z-index: -1;
    content: " ";
    display: block; }
  #headerContainer:before {
    right: 0; } }

#masterContainer:before {
  background-color: white;
  position: absolute;
  top: 0;
  margin-left: 0;
  width: 100vw;
  height: 300px;
  z-index: -1;
  content: " ";
  display: block; }

#masterContainer:before {
  right: 0; }

h1, h2 {
  font-family: Alegreya, serif; }

/* ****************** Header Styles ************************** */
.navbar-default {
  box-shadow: none;
  border: none;
  margin-bottom: 0; }

.navbar-header > div {
  margin: 0; }

#headerLinks {
  padding-right: 0; }
  @media (max-width: 767px) {
    #headerLinks > ul {
      margin-bottom: 0; } }
  #headerLinks a {
    padding-left: 7.5px;
    padding-right: 7.5px; }

#headerIcons {
  height: 70px; }
  #headerIcons a {
    color: #555; }
  @media (min-width: 768px) {
    #headerIcons {
      height: 100px; } }

.headerName {
  background: #B3CB44;
  padding: 0;
  text-align: center; }
  .headerName a {
    width: 100%;
    padding: 0; }

.navbar-brand {
  background-color: inherit; }

.navbar-default .navbar-brand {
  color: inherit; }

.navbar-default .navbar-brand:hover {
  color: inherit;
  background-color: inherit; }

#headerMobileRow {
  width: 100%; }
  #headerMobileRow > *:first-child {
    margin-left: 0; }
  #headerMobileRow > *:last-child {
    margin-right: 0; }
  #headerMobileRow a.navbar-brand {
    height: 70px; }
  #headerMobileRow .navbar-toggle {
    margin: 18px 0; }

#headerNameTiny {
  background: white; }

#headerNameTinyWidthLimiter {
  max-width: 250px;
  background: #B3CB44; }

#headerMobileRow .navbar-toggle {
  margin-right: 25px; }

@media (max-width: 344px) {
  #headerMobileRow > div:last-child {
    text-align: center; }
  #headerMobileRow .navbar-toggle {
    position: static;
    float: none;
    margin-right: 0; } }

@media (max-width: 767px) {
  .navbar {
    min-height: auto; }
  .nav {
    font-size: 18px; }
  #collapsing-navbar-area {
    position: absolute;
    box-sizing: content-box;
    background-color: white;
    z-index: 100; }
    #collapsing-navbar-area ul {
      width: 100%; }
    #collapsing-navbar-area li {
      width: 100vw; } }

#backgroundImage {
  padding: 0;
  margin: 0;
  background-image: url("../img/pageElements/CelastrinaEchoEcho_XXS.jpg");
  /* parallax scrolling technique: http://code.tutsplus.com/tutorials/a-simple-parallax-scrolling-technique--net-27641 */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 0px;
  /* -webkit-transform: translateZ(0); */
  /* TODO: Make multiple iimages at different sizes for different browser viewports. 
           Switch them out with a media query with especially narrow viewport to prevent this "midriff showing" issue */
  background-color: red; }
  @media (min-width: 480px) {
    #backgroundImage {
      background-image: url("../img/pageElements/CelastrinaEchoEcho_XS.jpg"); } }
  @media (min-width: 768px) {
    #backgroundImage {
      background-image: url("../img/pageElements/CelastrinaEchoEcho_SM.jpg"); } }

html {
  overflow-x: hidden; }

.parallax {
  height: 100vh;
  -webkit-perspective: 1px;
          perspective: 1px;
  overflow-x: hidden;
  overflow-y: scroll; }

.parallaxLayer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.parallaxBack {
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2); }

.parallaxBase {
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }

#backgroundContainer {
  top: -20vh;
  z-index: -100; }
  #backgroundContainer #backgroundImage {
    height: 120vh; }

@media (max-width: 767px) {
  #aboveTheFold {
    height: 100vh; } }

@media (min-width: 768px) {
  #aboveTheFold {
    height: 100vh; } }

#bylineContainer {
  height: 100%;
  margin: 0; }

#byline {
  color: #555;
  text-align: center; }
  @media (max-width: 767px) {
    #byline {
      padding: 0; }
      #byline #bylineVerticalPosition {
        background: #eee;
        opacity: .6;
        margin: 0; }
      #byline h1 {
        padding-top: 20px; }
      #byline h2 {
        padding-bottom: 20px; } }
  @media (min-width: 768px) {
    #byline {
      background: #eee;
      opacity: .6; }
      #byline #bylineVerticalPosition {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
        #byline #bylineVerticalPosition > *:first-child {
          /* or .verticalCenter > *:first-child ?? */
          margin-top: 0; }
        #byline #bylineVerticalPosition > *:last-child {
          margin-bottom: 0; } }
  #byline h1 {
    font-family: "Alegreya SC", Alegreya, serif; }
  #byline h2 {
    font-size: 24px;
    font-weight: normal;
    margin-top: 10px; }
  @media (max-width: 400px) {
    #byline h1 {
      font-size: 30px; } }

/* fix to remove margin-top from all children of a position:relative conainer
#siteContainer * {
  margin-top: 0;
} */
@media (max-width: 767px) {
  #section1text {
    padding-top: 50px;
    padding-bottom: 50px; } }

@media (min-width: 768px) {
  #section1textVerticalCenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
    #section1textVerticalCenter *:first-child {
      /* or .verticalCenter > *:first-child ?? */
      margin-top: 0; }
    #section1textVerticalCenter *:last-child {
      margin-bottom: 0; }
  #section1, #section1 > div {
    height: 393px; } }

@media (min-width: 992px) {
  #section1, #section1 > div {
    height: 444px; } }

#section1 {
  position: relative; }

#section1image {
  padding: 0; }

#section1image img {
  width: 100%; }

#section1text {
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  background: #999;
  color: #333; }
  #section1text p {
    text-align: left; }

#section2button {
  padding: 0;
  /* padding: 50px 50px; */ }

.squareDummy {
  margin-top: 100%; }

#section2square {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #555;
  text-align: center;
  height: 100%; }

#section2button h2 {
  /* margin: 70px 70px; */
  color: #eee;
  font-weight: normal; }

#section2button a {
  text-decoration: none;
  color: #eee; }

#section2text {
  background: #B3CB44;
  padding: 50px 60px;
  color: #eee;
  text-align: center; }
  #section2text p {
    text-align: left; }

#footerBackgroundImage {
  position: absolute;
  height: 300px;
  width: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: -10;
  /* parallax scrolling technique: http://code.tutsplus.com/tutorials/a-simple-parallax-scrolling-technique--net-27641 */
  background-image: url("../img/pageElements/garageDoorH_XS.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  /* -webkit-transform: translateZ(0); */
  /* TODO: are multiple sizes needed for this footerBackgroundImage? */
  background-color: gray; }
  @media (min-width: 480px) {
    #footerBackgroundImage {
      background-image: url("../img/pageElements/garageDoorH_SM.jpg"); } }

#footerContainer {
  height: 300px;
  color: white; }

#footer {
  text-align: center;
  margin: 0; }
  @media (max-width: 767px) {
    #footer {
      width: 100vw; }
      #footer > div {
        height: 150px; }
      #footer > div:first-child {
        height: 150px; } }
  @media (min-width: 768px) {
    #footer {
      padding-top: 50px;
      padding-bottom: 50px; }
      #footer > div {
        height: 200px; } }

#footerName h1 {
  font-size: 26px; }

#footerName h3 {
  font-size: 18px; }

@media (min-width: 768px) {
  #footerName:after {
    border-right: 1px solid white;
    height: 60%;
    content: "";
    position: absolute;
    top: 20%;
    right: 0; }
  #footerName h1 {
    font-size: 28px; }
  #footerName h3 {
    font-size: 20px; } }

@media (min-width: 992px) {
  #footerName h1 {
    font-size: 32px; }
  #footerName h3 {
    font-size: 24px; } }

#footerAddress:after {
  border-right: 1px solid white;
  height: 60%;
  content: "";
  position: absolute;
  top: 20%;
  right: 0; }

#footerAddress, #footerLinks {
  font-size: 10px; }
  #footerAddress p, #footerLinks p {
    margin: 0 0 3px; }
  @media (min-width: 480px) {
    #footerAddress, #footerLinks {
      font-size: 14px; } }

#footerLinksSocial {
  margin-bottom: 3px; }

#footerLinksSocial a {
  color: white; }

@media (min-width: 480px) {
  #foo {
    color: #DA7500 !important; } }

@media (min-width: 768px) {
  #bar {
    color: #DA7500 !important; } }

@media (min-width: 992px) {
  #baz {
    color: #DA7500 !important; } }

@media (min-width: 1200px) {
  #bam {
    color: #DA7500 !important; } }
