/* Main Style Document for Academic CV Web Site */
/* By Andrew Reid East */


/* Sass Variable Definitions */
$fontHeader: Alegreya, serif;
$fontPageHeader: "Alegreya SC", Alegreya, serif;
$fontBody: Raleway, sans-serif;

$mobileVerticalPadding: 50px;
$navbarHeight: 100px; //this is set in Bootstrap's config.json; I haven't used it in this file (yet?)
$navbarHeightMobile: 70px;
$footerHeight: 300px;
$footerHeightMobile: 250px;

$colorYellowGreen: #B3CB44;
$colorDarkGreen: #1E3318;
$colorBlue1: #075368;
$colorBlue2: #023E4F;
$colorNavy: #01141A;
$colorOrange1: #A85A00;
$colorOrange2: #975408;
$colorOrange3: #DA7500;
$colorRedOrange: #AF4D08;
$colorGray: #333; //already in template
$colorGrayBG: #999;
$colorGrayText: #555;
$colorLightGray: #eee;

$colorSchemePageBG: white;
$colorSchemeError: red;

$colorSchemeHeaderBG: white;
$colorSchemeHeaderNameBG: $colorYellowGreen;
$colorSchemeHeaderNameText: $colorLightGray;
$colorSchemeHeaderNameSubText: $colorGray;
$colorSchemeHeaderLinkText: $colorGrayText;

$colorSchemeBylineBG: $colorLightGray;
$colorSchemeBylineText: $colorGrayText;
$colorSchemeTextBoxBG: $colorGrayBG;
$colorSchemeTextBoxText: $colorGray;
$colorSchemeTextBoxGreen: $colorYellowGreen;
$colorSchemeTextBoxGreenText: $colorLightGray;

$colorSchemeFooterText: white;

// **************************************************************************** //
// *********************************  Mixins ********************************** //
// **************************************************************************** //
@mixin vCenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  > *:first-child { /* or .verticalCenter > *:first-child ?? */ 
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}
@mixin vTop {
  position: relative;
  top: 0;
  //transform: translateY(-50%);
  > *:first-child { /* or .verticalCenter > *:first-child ?? */ 
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

@mixin trailingBorder {
  border-right: 1px solid $colorSchemeFooterText;
  height: 60%;
  content: "";
  position: absolute;
  top: 20%;
  right: 0;
}

/* **************************************************************************** */
/* ************************* Generic Transformations ************************** */
/* **************************************************************************** */
.socialMediaButtons {
  a {
    i {
      //font-size: 14px;
      line-height: 20px;
    }
  }
  span {
    padding-left: 7px;
  }
  span:first-child {
    padding-left: 0;
  }
}

.nameplate {
  h1 {
    //font-family: $fontPageHeader; //NOTE: do not like small-caps here
    font-size: 18px;
    margin-bottom: 5px;
  }
  h3 {
    font-family: $fontBody;
    font-size: 16px;
    margin-top: 0;
  }
}

.verticalCenter {
  @include vCenter;
}

// use this style to set the height of .squareContent equal to the width of the container:
// <container>
//   <div class="squareDummy"></div>
//   <div class="squareContent">
//     ...content...
//   </div>
// </container>
.squareDummy {
  margin-top: 100%;
}
.squareContent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}

.flipHorizontal {
  transform: scaleX(-1); //https://css-tricks.com/snippets/css/flip-an-image/
  //filter: FlipH; //invalid?
}


/* **************************************************************************** */
/* ****************************  Bootstrap "Meter" **************************** */
/* **************************************************************************** */

//TODO: remove "foo, bar, etc" from index.html
// //TODO: Remove these "Bootstrap width meter colors"
// @media (min-width:480px) { //XS
//   #foo {
//     color: $colorBlue2 !important;
//   }
// }
// @media (min-width:768px) { //SM
//   #bar {
//     color: $colorBlue2 !important;
//   }
// }
// @media (min-width:992px) { //MD
//   #baz {
//     color: $colorBlue2 !important;
//   }
// }
// @media (min-width:1200px) { //LG
//   #bam {
//     color: $colorBlue2 !important;
//   }
// }

/* **************************************************************************** */
/* *************************** 1st-Level Containers *************************** */
/* **************************************************************************** */
.container { //this is using (and overridding) some of Bootstrap's container
// #containerBody, #containerHeader, #containerFooter {
  padding: 0; //reset from Bootstrap's 15px div padding
  // @media (min-width:768px) { //moved these widths to the Bootrap config
  //   width:750px
  // }
  // @media (min-width:992px) {
  //   width:970px
  // }
}
.container > * { //evaluated load performance a few times, didn't change load +/- 50ms 
  margin-left: 0;
  margin-right: 0;
}

// Create $colorSchemePageBG colored bars to block the background image behind body
@media (min-width: 768px) {
  #containerHeader:before, #containerBody:before {
    background-color: $colorSchemePageBG;
    position: absolute;
    // top: 0;
    margin-left: 0;
    // right: -1px;
    // width: 101vw;
    right: 0px;
    width: 100vw;
    z-index: -50;
    content: " ";
    display: block;
  }
  #containerHeader:before {
    height: $navbarHeight;
  }
  #containerBody:before {
    // bottom: 0;
    // height: 444px; //TODO: sense how height of #section1 is to apply to this?? --Use the fact that we will know how wide x tall each sm/md/large are!
    @media (min-width:768px) { //SM
      height: 393px + 166.656px; //this is my best solution to the "unknowable height" problem == (height of image + height of col-sm-8)
    }
    @media (min-width:992px) { //MD
      height: 444px + 166.656px;
    }
  }
}
#containerByline {
// #aboveTheFold {
  height: 100vh;
  height: calc(100vh - #{$navbarHeightMobile});
  @media (min-width: 768px) {
    height: 100vh; //graceful degridation
    height: calc(100vh - #{$navbarHeight}); 
  }
  
  //height: 100%;
  .row {
    height: 100%;
  }
}
#containerFooter {
  // background-color: teal;
}



/* **************************************************************************** */
/* ***********************  Parallax Background Styles ************************ */
/* **************************************************************************** */

body {
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}
html {
  // width: 100vw;
  // height: 100vh;
  // overflow-x: hidden; //seems to be needed to let mobile-android-chrome scroll
}
#backgroundImage {
  position: absolute;
  z-index: -100;
  width: 100%;
  // width: 100vw; //this causes overlap of the scrollbar!
  top: $navbarHeightMobile;
  height: 100vh;
  height: calc(100vh - #{$navbarHeightMobile});
  @media (min-width: 768px) {
    top: $navbarHeight;
    height: 100vh;
    height: calc(100vh - #{$navbarHeight}); 
  }
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;
  
  //TODO: need background images for  or square (768x600)
  //TODO: Possible to set height of aboveTheFold to 75vh for super-tall rotation (iPad 768x1024, Google Nexus 10, 800x1280)
  //TODO: add in @2x images for retina display (use Retina.js?)
  background-image: url("../img/pageElements/CelastrinaEchoEcho_320x_.jpg");
  @media (min-width: 321px) {
    background-image: url("../img/pageElements/CelastrinaEchoEcho_XXS.jpg");
  }
  @media (min-width: 481px) { //XS 
    background-image: url("../img/pageElements/CelastrinaEchoEcho_XS.jpg"); 
  }
  @media (min-width: 768px) { //SM
    background-image: url("../img/pageElements/CelastrinaEchoEcho_SM.jpg"); 
  }
  @media (min-width: 992px) { //MD
    background-image: url("../img/pageElements/CelastrinaEchoEcho_MD.jpg"); 
  }
  @media (min-width: 1200px) { //LG
    background-image: url("../img/pageElements/CelastrinaEchoEcho_LG.jpg"); 
  }
  /* -webkit-transform: translateZ(0); */
}
#containerFooterBackground {
  // width: 100vw;
  width: 100%;
  position: absolute;
  bottom: 0;
  // position: relative;
  // top: -$footerHeightMobile;
  // margin-bottom: -$footerHeightMobile;
  // @media (min-width: 768px) {
  //   top: -$footerHeight;
  //   margin-bottom: -$footerHeight;
  // }
  z-index: -90;
}
#footerBackgroundImage {
  //left and right: calc((-100vw + 970px)/2);
  // position: absolute;
  height: $footerHeightMobile;
  @media (min-width: 768px) {
    height: $footerHeight;
  }
  // width: 100vw;
  //top: 0; //note: by NOT specifying top:0, an absolute child of a __static__ element, the absolute element will stay aligned to the top of the static! weird?
  // left: 0;
  padding: 0;
  margin: 0;
  background-image: url("../img/pageElements/garageDoorH_XS.jpg");
  @media (min-width: 480px) {
    background-image: url("../img/pageElements/garageDoorH_SM.jpg");
  }
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: 0 0; //http://stackoverflow.com/questions/24944925/background-image-jumps-when-address-bar-hides-ios-android-mobile-chrome
  /* -webkit-transform: translateZ(0); */
  // background-color: gray; //$colorSchemeError;
}



/* **************************************************************************** */
/* *****************************  Navbar Styles  ****************************** */
/* **************************************************************************** */
.navbar-default {
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}
.navbar-header > div {
  margin: 0;
}
#headerLinks {
  // @media (max-width: 767px) {
    > ul {
      margin-bottom: 0; //margin:0; is already in bootstrap at min-width:768
    }
  // }
  @media (min-width: 768px) { padding-right: 0; }
  a {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
#headerIcons {
  a {
    color: $colorOrange3;
  }
  height: $navbarHeightMobile;
  @media (min-width: 768px) {
    height: $navbarHeight;
  }
}
.headerName {
  background: $colorSchemeHeaderNameBG;
  padding: 0;
  text-align: center;
  a {
    width: 100%;
    padding: 0;
  }
}
.navbar-brand {
  background-color: inherit; //needed to overwrite Bootstrap transparent(?!) background
}
.navbar-default .navbar-brand {
  color: inherit;
}
.navbar-default .navbar-brand:hover {
  color: inherit;
  background-color: inherit;
}
#headerMobileRow {
  width: 100%;
  > *:first-child {
    margin-left: 0;
  }
  > *:last-child {
    margin-right: 0;
  }
  // Change height of mobile nav to $navbarHeightMobile:
  a.navbar-brand { height: $navbarHeightMobile; }
  .navbar-toggle {
    margin: (($navbarHeightMobile - 34px) / 2) 0; //magic number "34" comes from Bootstrap's height of 14px, plus 20px of padding and border
    margin-right: 25px;
  }
}
@media (max-width: 344px) { //382px) {//480px) {
  #headerMobileRow > div:last-child {
    text-align: center;
  }
  #headerMobileRow .navbar-toggle {
    position: static;
    float: none;
    margin-right: 0;
  }
}
#headerNameTiny {
  background: $colorSchemeHeaderBG;
}
#headerNameTinyWidthLimiter {
  max-width: 250px;
  background: $colorSchemeHeaderNameBG;
}
#collapsing-navbar-area {
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .navbar { min-height: auto; }
  .nav {
    font-size: 18px;
  }
  #collapsing-navbar-area {
    position: absolute;
    //These changes are to maintain the same properties as if it were a position: relative;
    box-sizing: content-box;
    background-color: $colorSchemeHeaderBG;
    z-index: 100;
    overflow-x: hidden;
    //padding-right: 0;
    // width: 100vw;
    ul { width: 100%; }
    li { width: 100vw; }
  }
}

/* **************************************************************************** */
/* ******************************  Footer Styles  ***************************** */
/* **************************************************************************** */

#footer {
  // height: $footerHeight;  
  color: $colorSchemeFooterText;
  text-align: center;
  margin: 0;
  @media (max-width: 767px) {
    width: 100vw;
    // padding-top: 10px;
    // padding-bottom: 10px;
    > div:first-child {
      height: $footerHeightMobile - 150px;
    }
    > div {
      height: 150px;
    }
    #footerName { padding-top: 40px; }
  }
  @media (min-width: 768px) {
    padding-top: $mobileVerticalPadding;
    padding-bottom: $mobileVerticalPadding;
    > div {
      height: ($footerHeight - $mobileVerticalPadding * 2);
      // padding-right: 0;
    }
  }
}
#footerName h1 { font-size: 26px; }
#footerName h3 { font-size: 18px; }
@media (min-width: 768px) {
  #footerName:after {
    @include trailingBorder;
  }
  #footerName h1 { font-size: 28px; }
  #footerName h3 { font-size: 20px; }
}
@media (min-width: 992px) {
  #footerName h1 { font-size: 32px; }
  #footerName h3 { font-size: 24px; }
}
#footerAddress:after {
  @include trailingBorder;
}
// #footer > div:last-child {
//   border-left: 1px solid $colorSchemeFooterText;
// }
#footerAddress, #footerLinks {
  // line-height: 0.8em;
  font-size: 10px;
  p { margin: 0 0 3px; }
  @media (min-width: 480px) {
    font-size: 14px;
  }
}
#footerLinksSocial {
  margin-bottom: 3px;
}
#footerLinks a {
  color: $colorSchemeFooterText;
}
#footerSocialMedia {
  // padding-bottom: 15px;
  // font-size: 16px;
}



/* **************************************************************************** */
/* ****************************  Above the Fold  ****************************** */
/* **************************************************************************** */
#byline {
  color: $colorSchemeBylineText;
  height: 100%;
  text-align: center;
  @media (max-width: 767px) {
    padding: 0;
    #bylineVerticalPosition {
      //@include vTop;
      background: $colorSchemeBylineBG;
      opacity: .6;
      margin: 0;
      > *:first-child { /* or .verticalCenter > *:first-child ?? */ 
        margin-top: 0;
      }
      > *:last-child {
        margin-bottom: 0;
      }
    }
    h1 {
      padding-top: 20px;
    }
    h2 {
      padding-bottom: 20px;
    }
  }
  @media (min-width: 768px) {
    background: $colorSchemeBylineBG;
    opacity: .6;
    #bylineVerticalPosition {
      @include vCenter;
    }
  }
  h1 {
    font-family: $fontPageHeader;
    @media (max-width: 400px) {
      font-size: 30px;
    }
    // font-size: 36px; //already in bootstrap.css
    @media (min-width: 768px) {
      font-size: 28px;
    }
    @media (min-width: 992px) {
      font-size: 32px;
    }
  }
  h2 {
    font-size: 24px;
    font-weight: normal;
    margin-top: 10px;
  }
}


/* **************************************************************************** */
/* ********************************  Section 1  ******************************* */
/* **************************************************************************** */
#section1 {
  // position: relative;
}
#section1image {
  padding: 0;
  background-size: cover;
  background-image: url("../img/pageElements/diaphorencyrtus_aligarhensis_release_wide.jpg");
  @media (max-width: 767px) {
    padding-top: 66.6666666666666667%; //this will set the height of the box in ratio to the width, which is dynamic
  }
  @media (min-width: 768px) {
    background-image: url("../img/pageElements/diaphorencyrtus_aligarhensis_release.jpg");
  }
}
#section1text {
  // height: 100%;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  p {
    text-align: left;
  }
  background: $colorSchemeTextBoxBG;
  color: $colorSchemeTextBoxText;
}
//these media queries are to set the height of section1, equal to the height of the image
@media (max-width:767px) { //XS
  #section1text {
    padding-top: $mobileVerticalPadding;
    padding-bottom: $mobileVerticalPadding;
  }
}
@media (min-width:768px) { //SM
  #section1textVerticalCenter {
    @include vCenter;
  }
  #section1, #section1 > div {
    height: 393px;
  }
}
@media (min-width:992px) { //MD
  #section1, #section1 > div {
    height: 444px;
  }
}
@media (min-width:1200px) { //LG
}

/* **************************************************************************** */
/* ******************************  Section 2  ********************************* */
/* **************************************************************************** */
#section2 {
  // position: relative;
}
#section2button {
  padding: 0;
  background-color: $colorGrayText;
  text-align: center;
}
#section2button h2 {
  color: $colorSchemeHeaderNameText;
  font-weight: normal;
}
#section2button a {
  text-decoration: none;
  color: $colorSchemeHeaderNameText;
}
#section2text {
  background: $colorSchemeTextBoxGreen;
  color: $colorSchemeTextBoxGreenText;
  text-align: center;
  p {
    text-align: left;
  }
  padding: 20px 40px;
  @media (min-width: 500px) { padding: $mobileVerticalPadding 60px; }
}

/* **************************************************************************** */
/* ******************************  Section 3  ********************************* */
/* **************************************************************************** */
#section3image {
  padding: 0;
  background-size: cover;
  background-image: url("../img/pageElements/Chartocerus_female_lateral_dome2.jpg");
  padding-top: 62%;
  @media (min-width: 768px) {
    padding-top: 47%; //this will set the height of the box in ratio to the width, which is dynamic
  }
}

/* **************************************************************************** */
/* ******************************  Section 4  ********************************* */
/* **************************************************************************** */

#section4button {
  padding: 0;
  background-color: $colorSchemeTextBoxGreen;
  text-align: center;
}
#section4button h2 {
  color: $colorSchemeTextBoxGreenText;
  font-weight: normal;
}
#section4button a {
  text-decoration: none;
  color: $colorSchemeTextBoxGreenText;
}
#section4text {
  background: $colorSchemeTextBoxBG;
  color: $colorSchemeHeaderNameText;
  text-align: center;
  p {
    text-align: left;
  }
  padding: 20px 40px;
  @media (min-width: 500px) { padding: $mobileVerticalPadding 60px; }
}
#section4image {
  padding: 0;
  background-size: cover;
  background-image: url("../img/pageElements/conetainer.jpg");
  @media (max-width: 767px) {
    padding-top: 97%;
  }
  @media (min-width: 768px) {
    padding-top: 112%; //this will set the height of the box in ratio to the width, which is dynamic
  }
  @media (min-width: 992px) {
    padding-top: 96%;
  }
}