/* Main Style Document for Academic CV Web Site */
/* By Andrew Reid East */


/* Sass Variable Definitions */
$fontHeader: Alegreya, serif;
$fontPageHeader: "Alegreya SC", Alegreya, serif;
$fontBody: Raleway, sans-serif;

$mobileVerticalPadding: 50px;
$navbarHeight: 100px; //this is set in Bootstrap's config.json; I haven't used it in this file (yet?)
$navbarHeightMobile: 70px;
$footerHeight: 300px;
$footerHeightMobile: 250px;

// $colorYellowGreen: #B3CB44;
$colorYellowGreen: #92c924;
$colorDarkGreen: #1E3318;
$colorBlue1: #075368;
$colorBlue2: #023E4F;
$colorNavy: #01141A;
$colorRedOrange: #AF4D08;
$colorOrange1: #A85A00;
$colorOrange2: #975408;
// $colorOrange3: #DA7500;
$colorPurpleFlower: #b430a0;
// $colorOrange3: #732c38;
// $colorOrange3: #ea436a;
$colorBlack: #111;
$colorGray: #333; //already in bootstrap template
$colorGrayBG: #ccc;
// $colorGrayText: #555;
$colorDarkGray: #333;
$colorLightGray: #eee;

$colorSchemePageBG: white;
$colorSchemeError: red;

$colorSchemeHeaderBG: white;
$colorSchemeHeaderNameBG: $colorYellowGreen;
$colorSchemeHeaderNameText: $colorLightGray;
$colorSchemeHeaderNameSubText: $colorGray;
$colorSchemeHeaderLinkText: $colorDarkGray;
$colorSchemeHeaderIcons: $colorPurpleFlower;

$colorSchemeBylineBG: $colorLightGray;
$colorSchemeBylineText: $colorDarkGray;
$colorSchemeTextBoxBG: $colorGrayBG;
$colorSchemeTextBoxText: $colorBlack;
$colorSchemeTextBoxGreen: $colorYellowGreen;
$colorSchemeTextBoxGreenText: $colorLightGray;
$colorSchemeButtonGray: $colorDarkGray;

$colorSchemeFooterText: white;


// **************************************************************************** //
// ********************************  Styles  ********************************** //
// **************************************************************************** //
.box-text {
  a {
    text-decoration: underline;
  }
  
  text-align: center;
  p {
    text-align: left;
  }
  padding: 20px 40px;
  @media (min-width: 768px) { 
    padding: 30px 40px;
  }
  @media (min-width: 992px) {
    padding: 50px 60px; 
  }
}

.box-button {
  padding: 0;
  text-align: center;
}

.box-gray, .box-dark, .box-green, .box-purple {
  h2 a, h1 a {
    color: inherit;
  }
}

.box-gray {
  background-color: $colorSchemeTextBoxBG;
  color: $colorSchemeTextBoxText;
}

.box-dark {
  background-color: $colorSchemeButtonGray;
  color: $colorLightGray;
}

.box-green {
  background-color: $colorSchemeTextBoxGreen;
  color: $colorSchemeTextBoxGreenText;
}

.box-purple {
  background-color: $colorPurpleFlower;
  color: $colorSchemeHeaderNameText;
  color: white;
}

.socialMediaButtons {
  font-size: 14px;
  a {
    i {
      line-height: 20px;
    }
  }
  span {
    padding-left: 7px;
  }
  span:first-child {
    padding-left: 0;
  }
}

.nameplate {
  h1 {
    //font-family: $fontPageHeader; //NOTE: do not like small-caps here
    font-size: 18px;
    margin-bottom: 5px;
  }
  h3 {
    font-family: $fontBody;
    font-size: 16px;
    margin-top: 0;
  }
}

// **************************************************************************** //
// *********************************  Mixins ********************************** //
// **************************************************************************** //
@mixin vCenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  > *:first-child { /* or .verticalCenter > *:first-child ?? */ 
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}
@mixin vTop {
  position: relative;
  top: 0;
  //transform: translateY(-50%);
  > *:first-child { /* or .verticalCenter > *:first-child ?? */ 
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

@mixin trailingBorder {
  border-right: 1px solid $colorSchemeFooterText;
  height: 60%;
  content: "";
  position: absolute;
  top: 20%;
  right: 0;
}

/* **************************************************************************** */
/* ************************* Generic Transformations ************************** */
/* **************************************************************************** */

.verticalCenter {
  @include vCenter;
}

// use the "sizer" style to set the height of a variable-width div equal to a proportion of the width of it's parent
// for example:
// <div class="row" id="section1">
//   <div class="column-4 sizer">    --> class "column-4" is of unknown width here
//     <div class="sized">
//       <p>content</p>
//     </div>
//   </div>
//   <div class= "column-8 sizer">   --> despite "column-8 being different width than column-4, sizer will set the height of both to the same
//     <div class="sized">
//       ...
// You must also include a style to set the padding-top of .sizer to the percentage of the width you desire it to be:
//   #section1 .sizer { padding-top: 50% }
// this will set all .sized inside of #section1 to be 50% as tall as #section1 is wide
.sized {
  position: relative;
}
@media (min-width: 768px) {
  .sized {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 100%;
  }
}
  .sizer {
    position: relative;
  }
.sizer {
  padding-left: 0; padding-right: 0; // set to remove bootstrap's margins for col-* styles // TODO: change this padding in bootstrap config?
}


// use this style to set the height of .squareContent equal to the width of the container:
// <container>
//   <div class="squareDummy"></div>
//   <div class="squareContent">
//     ...content...
//   </div>
// </container>
.squareDummy {
  margin-top: 100%;
}
.squareContent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}


/* **************************************************************************** */
/* *************************** 1st-Level Containers *************************** */
/* **************************************************************************** */
body {
  font-size: 16px;
}

.container { //this is using (and overridding) some of Bootstrap's container
  padding: 0; //reset from Bootstrap's 15px div padding
}
.container > * { //evaluated load performance a few times, didn't change load +/- 50ms 
  margin-left: 0;
  margin-right: 0;
}

#containerByline {
// #aboveTheFold {
  height: 100vh;
  height: calc(100vh - #{$navbarHeightMobile});
  @media (min-width: 768px) {
    height: 100vh; //graceful degridation
    height: calc(100vh - #{$navbarHeight}); 
  }
  
  //height: 100%;
  .row {
    height: 100%;
  }
}

/* **************************************************************************** */
/* ***********************  Parallax Background Styles ************************ */
/* **************************************************************************** */

body {
  // overflow-x: hidden;
  // overflow-y: scroll;
  position: relative;
}
// html {
//   // width: 100vw;
//   // height: 100vh;
//   // overflow-x: hidden; //seems to be needed to let mobile-android-chrome scroll
// }
#backgroundImage {
  position: absolute;
  z-index: -100;
  width: 100%;
  // width: 100vw; //this causes overlap of the scrollbar!
  top: $navbarHeightMobile;
  height: 100vh;
  height: calc(100vh - #{$navbarHeightMobile});
  @media (min-width: 768px) {
    top: $navbarHeight;
    height: 100vh;
    height: calc(100vh - #{$navbarHeight}); 
  }
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  // background-position: 0px 0px;
  background-size: cover;
  
  //TODO: add in @2x images for retina display (use Retina.js?)

  @media (orientation: portrait) {
    background-image: url("../img/index/bg_centered_narrow.jpg");
    background-position: center center;
  }
  @media (orientation: landscape) {
    background-image: url("../img/index/bg_centered_wide.jpg");
    background-position: center center;
  }
  // background-image: url("../img/pageElements/CelastrinaEchoEcho_320x_.jpg");
  // @media (min-width: 321px) {
  //   background-image: url("../img/pageElements/CelastrinaEchoEcho_XXS.jpg");
  // }
  // @media (min-width: 481px) { //XS 
  //   background-image: url("../img/pageElements/CelastrinaEchoEcho_XS.jpg"); 
  // }
  // @media (min-width: 768px) { //SM
  //   background-image: url("../img/pageElements/CelastrinaEchoEcho_SM.jpg"); 
  // }
  // @media (min-width: 992px) { //MD
  //   background-image: url("../img/pageElements/CelastrinaEchoEcho_MD.jpg"); 
  // }
  // @media (min-width: 1200px) { //LG
  @media (min-width: 992px) { //MD
    background-image: url("../img/index/bg_LG.jpg");
    background-position: top center;
  }
}

#containerFooterBackground {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -90;
}
#footerBackgroundImage {
  //left and right: calc((-100vw + 970px)/2);
  height: $footerHeightMobile;
  @media (min-width: 768px) {
    height: $footerHeight;
  }
  //top: 0; //note: by NOT specifying top:0, an absolute child of a __static__ element, the absolute element will stay aligned to the top of the static! weird?
  padding: 0;
  margin: 0;
  background-image: url("../img/pageElements/garageDoorH_XS.jpg");
  @media (min-width: 480px) {
    background-image: url("../img/pageElements/garageDoorH_SM.jpg");
  }
  background-size: cover;
  background-repeat: no-repeat;
}

#articleTitle {
  height: 150px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("../img/pageElements/garageDoorH_SM.jpg");
  background-size: cover;
  h1 {
    margin: 0;
    color: $colorSchemeHeaderNameText;
    font-size: 56px;
  }
}


/* **************************************************************************** */
/* *****************************  Navbar Styles  ****************************** */
/* **************************************************************************** */
.navbar-default {
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}
.navbar-header > div {
  margin: 0;
}
#headerLinks {
  font-size: 14px;
  // @media (max-width: 767px) {
    > ul {
      margin-bottom: 0; //margin:0; is already in bootstrap at min-width:768
    }
  // }
  @media (min-width: 768px) { padding-right: 0; }
  a {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
#headerIcons {
  a {
    color: $colorSchemeHeaderIcons;
  }
  height: $navbarHeightMobile;
  @media (min-width: 768px) {
    height: $navbarHeight;
  }
}
.headerName {
  background: $colorSchemeHeaderNameBG;
  padding: 0;
  text-align: center;
  a {
    width: 100%;
    padding: 0;
  }
}
.navbar-brand {
  background-color: inherit; //needed to overwrite Bootstrap transparent(?!) background
  text-shadow: 0 1px 0 rgba(150,150,150, 0.25); // overwrite Bootstrap's style for legibility on darker bg
}
.navbar-default .navbar-brand {
  color: inherit;
}
.navbar-default .navbar-brand:hover {
  color: inherit;
  background-color: inherit;
}
#headerMobileRow {
  width: 100%;
  > *:first-child {
    margin-left: 0;
  }
  > *:last-child {
    margin-right: 0;
  }
  // Change height of mobile nav to $navbarHeightMobile:
  a.navbar-brand { height: $navbarHeightMobile; }
  .navbar-toggle {
    margin: (($navbarHeightMobile - 34px) / 2) 0; //magic number "34" comes from Bootstrap's height of 14px, plus 20px of padding and border
    margin-right: 25px;
  }
}
@media (max-width: 344px) { //382px) {//480px) {
  #headerMobileRow > div:last-child {
    text-align: center;
  }
  #headerMobileRow .navbar-toggle {
    position: static;
    float: none;
    margin-right: 0;
  }
}
#headerNameTiny {
  background: $colorSchemeHeaderBG;
}
#headerNameTinyWidthLimiter {
  max-width: 250px;
  background: $colorSchemeHeaderNameBG;
}
#collapsing-navbar-area {
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .navbar { min-height: auto; }
  .nav {
    font-size: 18px;
  }
  #collapsing-navbar-area {
    position: absolute;
    //These changes are to maintain the same properties as if it were a position: relative;
    box-sizing: content-box;
    background-color: $colorSchemeHeaderBG;
    z-index: 100;
    overflow-x: hidden;
    ul { width: 100%; }
    li { width: 100vw; }
  }
}

/* **************************************************************************** */
/* ******************************  Footer Styles  ***************************** */
/* **************************************************************************** */

#footer {
  color: $colorSchemeFooterText;
  text-align: center;
  margin: 0;
}
@media (max-width: 767px) {
  #footer { 
    width: 100vw;
  }
  #footer > div:first-child {
    height: $footerHeightMobile - 150px;
  }
  #footer > div {
    height: 150px;
  }
  #footerName { padding-top: 40px; }
}
@media (min-width: 768px) {
  #footer {
    padding-top: $mobileVerticalPadding;
    padding-bottom: $mobileVerticalPadding;
  }
  #footer > div {
    height: ($footerHeight - $mobileVerticalPadding * 2);
  }
}
#footerName h1 { font-size: 24px; }
#footerName h3 { font-size: 16px; }
@media (min-width: 768px) {
  #footerName:after {
    @include trailingBorder;
  }
  #footerName h1 { font-size: 26px; }
  #footerName h3 { font-size: 18px; }
}
@media (min-width: 992px) {
  #footerName h1 { font-size: 30px; }
  #footerName h3 { font-size: 22px; }
}
#footerAddress:after {
  @include trailingBorder;
}
#footerAddress, #footerLinks {
  font-size: 10px;
  p { margin: 0; }
  @media (min-width: 480px) {
    font-size: 14px;
  }
}
#footerLinksSocial {
  margin-bottom: 3px;
}
#footerLinks a {
  color: $colorSchemeFooterText;
}



/* **************************************************************************** */
/* ****************************  Above the Fold  ****************************** */
/* **************************************************************************** */
#byline {
  color: $colorSchemeBylineText;
  height: 100%;
  text-align: center;
  opacity: .7;

  // change position of byline box
  @media (max-width: 767px) {
    padding: 0;
    #bylineVerticalPosition {
      background: $colorSchemeBylineBG;
      //@include vTop;
      margin: 0;
      > *:first-child { /* or .verticalCenter > *:first-child ?? */ 
        margin-top: 0;
      }
      > *:last-child {
        margin-bottom: 0;
      }
    }
    h1 {
      padding-top: 20px;
    }
    h2 {
      padding-bottom: 20px;
    }
  }
  @media (min-width: 768px) {
    background: $colorSchemeBylineBG;
    #bylineVerticalPosition {
      @include vCenter;
    }
  }

  // change byline sizes (font-face set by bootstrap template)
  h2 {
    font-weight: normal;
    margin-top: 10px;
  }
  @media (max-width: 400px) {
    h1 { font-size: 32px; }
    h2 { font-size: 24px; }
  }
  @media (min-width: 401px) {
    h1 { font-size: 36px; } //set to 36px in bootstrap.css
    h2 { font-size: 26px; }
  }
  @media (min-width: 768px) {
    h1 { font-size: 30px; }
    h2 { font-size: 22px; }
  }
  @media (min-width: 992px) {
    h1 { font-size: 34px; }
    h2 { font-size: 24px; }
  }
}


/* **************************************************************************** */
/* ********************************  Section 1  ******************************* */
/* **************************************************************************** */
@media (min-width: 768px) {
  #section1 .sizer {
    padding-top: 50%;
  }
}
#section1image {
  padding: 0;
  background-size: cover;
  background-image: url("../img/index/portrait_wide.jpg");
  @media (max-width: 767px) {
    padding-top: 65%;
  }
  @media (min-width: 768px) {
    background-image: url("../img/index/portrait_tall.jpg");
  }
}
//these media queries are to set the height of section1, equal to the height of the image
@media (min-width:768px) { //SM
  #section1textVerticalCenter {
    @include vCenter;
  }
}

/* **************************************************************************** */
/* ******************************  Section 2  ********************************* */
/* **************************************************************************** */
#section2text p {
  margin: 0;
}
#section2button h1 {
  font-weight: normal;
  font-size: 64px;
}
#section2button a {
  text-decoration: none;
}

/* **************************************************************************** */
/* ******************************  Section 3  ********************************* */
/* **************************************************************************** */
#section3 .sizer {
  @media (min-width: 768px) {
    padding-top: 52%; //this will set the height of the box in relative percentage to the width, which is set by col-* styles
  }
}
#section3image {
  @media (max-width: 767px) {
    padding-top: 62%;
  }
  background-size: cover;
  background-image: url("../img/index/slugFlower20160610.jpg");
}

/* **************************************************************************** */
/* ******************************  Section 4  ********************************* */
/* **************************************************************************** */

#section4rowText .sizer {
  @media (min-width: 768px) {
    padding-top: 40%;
  }
}
@media (min-width:768px) { //SM
  #section4textVerticalCenter {
    @include vCenter;
  }
}
#section4button h2 {
  font-weight: normal;
}
#section4button a {
  text-decoration: none;
}
#section4image {
  padding: 0;
  background-size: cover;
  background-position: center top;
  background-image: url("../img/index/dragonfly20160613.jpg");
  // @media (max-width: 767px) {
    padding-top: 185.4%;
  // }
  // @media (min-width: 768px) {
  //   padding-top: 65%; //this will set the height of the box in ratio to the width, which is dynamic
  // }
  // @media (min-width: 992px) {
  //   padding-top: 65%;
  // }
}
#section4image2 {
  padding: 0;
  background-size: cover;
  background-position: center top;
  // background-image: url("../img/index/slugDamage20160908_rotate.jpg");
  background-image: url("../img/index/beetle20160108.jpg");
  // @media (max-width: 767px) {
    padding-top: 55.6%;
  // }
  // @media (min-width: 768px) {
  //   padding-top: 65%; //this will set the height of the box in ratio to the width, which is dynamic
  // }
  // @media (min-width: 992px) {
  //   padding-top: 65%;
  // }
}
#section4imageHorizontal {
  padding: 0;
  background-size: cover;
  background-position: center top;
  background-image: url("../img/index/beetle20160108.jpg");
  // @media (max-width: 767px) {
    padding-top: 61.5%;
  // }
  // @media (min-width: 768px) {
  //   padding-top: 65%; //this will set the height of the box in ratio to the width, which is dynamic
  // }
  // @media (min-width: 992px) {
  //   padding-top: 65%;
  // }
}

/* **************************************************************************** */
/* ********************************  About  *********************************** */
/* **************************************************************************** */
#aboutImage {
  padding: 0;
}
#aboutText {
  background: $colorLightGray;
  color: $colorSchemeTextBoxText;
  text-align: center;
  p {
    text-align: left;
  }
  padding: 20px 40px;
  @media (min-width: 500px) { padding: $mobileVerticalPadding 60px; }
}
#aboutSummary {
  background: $colorSchemeTextBoxBG;
  color: $colorSchemeTextBoxText;
  text-align: center;
  margin-left: 30%;
  padding: 20px 40px;
  @media (min-width: 500px) { padding: $mobileVerticalPadding 60px; }
}