@@include('header.html', {
"title": "Allison Bistline-East, PhD - About"
})
@@include('nav.html', {
"activeAbout": "active"
})

<div class="background-gray">
    <div id="containerBody" class="container">

        <div id="mainBody" class="row">
            <div class="fullWidthColumn col-sm-36">
                <div id="bodyText" class="box-white box-text">
                    <h1>About me</h1>
                    <br>
                    <p>I am a final-year PhD student (Environmental Science) at the National University of Ireland Galway. I'm scheduled to viva this summer and am currently
                        seeking new and exciting career opportunities as a research postdoc or lecturer!</p>

                    <a href="img/research/butterfly.jpg" data-toggle="lightbox" data-gallery="about"><!--data-title="A random title" data-footer="A custom footer text">-->
                        <img src="img/research/butterfly_thumb.jpg" alt="Blue morpho in San Diego" class="img-float right" width="250" height="333">
                    </a>

                    <p>Born and raised in southern California, I completed both my BSc (Biology) and MSc (<a href="https://entomology.ucr.edu/">Entomology</a>) at the <a
                            href="https://ucr.edu">University of California Riverside (UCR)</a>. Throughout my research career, I have worked on numerous insect and crop systems,
                        as well has partaking in research collaborations with a range of stakeholders (state and local agencies, growers, homeowners, and researchers from other
                        universities). As an undergrad, my studies focused on animal evolution and ecology, and in my third and fourth years I worked with <a
                                href="http://faculty.ucr.edu/~pdeley/lab/labhome.html">Drs Paul and Irma de Ley</a> on freshwater nematode ecology. After receiving my BSc in 2008,
                        I worked as a research technician with Drs <a href="https://biocontrol.ucr.edu/hoddle/">Mark Hoddle</a> and <a href="https://biocontrol.ucr.edu/irvin/">Nicola
                            Irvin</a> for five years on various invasive species, biological control, and insect ecology projects. I completed my MSc with Dr Hoddle on the
                        parasitoids and hyperparasitoids within the Asian citrus psyllid (<em>Diaphorina citri</em>) classical biological control complex, funded by grants from the
                        US Department of Agriculture and the California Department of Food and Agriculture.</p>

                    <a href="img/research/syrphs_on_flowers.jpg" data-toggle="lightbox" data-gallery="about">
                        <img src="img/research/syrphs_on_flowers_thumb.jpg" alt="Hover flies perched on wildflowers" class="img-float left" width="250" height="150">
                    </a>

                    <p>In 2015, I moved to Galway, Ireland to pursue a PhD at the <a href="https://www.nuigalway.ie/science/school-of-natural-sciences/">National University of
                        Ireland Galway (NUIG)</a> with <a href="http://www.nuigalway.ie/research/applied_ecology_unit/mikegormally.html">Professor Michael Gormally</a>. My current
                        research has focused on developing a conservation biological control programme for agricultural pest slugs in Ireland using a native Irish parasitoid fly,
                        <em>Tetanocera elata</em>. This project has been funded by the Government of Ireland Postgraduate Research Fellowship (Irish Research Council), Hardiman
                        Research Scholarship (NUIG), and the Thomas Crawford Hayes Research Fund (NUIG).</p>

                    <a href="img/kaylee/allison_kaylee.jpg" data-toggle="lightbox" data-gallery="about">
                        <img src="img/kaylee/allison_kaylee_thumb.jpg" alt="Adventures with doggo" class="img-float right" width="250" height="150">
                    </a>

                    <p>More details about my previous and ongoing research can be found on my <a href="research.html">Research page</a>. I am also passionate about science
                        communication and am active in public outreach. Check out the <a href="outreach.html">Outreach section</a> for an overview of my outreach involvement.
                        Outside of work, I love being outdoors and going on excursions with my doggo <a href="img/kaylee/kaylee_heart.jpg" data-toggle="lightbox"
                                                                                                        data-gallery="about">Kaylee</a>. I am an <a
                                href="img/baking/citrus_angelfood_cupcakes.jpg" data-toggle="lightbox" data-gallery="about">avid baker</a> and love developing <a
                                href="img/baking/elderflower_black_forest_cupcakes.jpg" data-toggle="lightbox" data-gallery="about">new recipes</a>; I've also been known to give
                        colourful commentary while watching the Great British Bake Off. I'm a huge fantasy/sci-fi nerd and gaming enthusiast, and can throw dice with the best of
                        them.</p>

                    <p>Follow me on <a href="https://twitter.com/ABEentomology">Twitter</a> for updates on outreach events, running commentary on all things entomology, and dog
                        pictures.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('footer.html')
