@@include('header.html', {
"title": "Allison Bistline-East, MSc - Contact"
})
@@include('nav.html', {
"activeContact": "active"
})

<div class="background-gray">
    <div id="containerBody" class="container">
        <div id="mainBody" class="row">
            <div class="fullWidthColumn col-sm-36">
                <div id="bodyText" class="box-white box-text">
                    <h1>Contact</h1>
                    <p>I'm always happy to chat about research, collaborations, and sci-comm. You can get in touch by sending me an email or find me online through any of the sites
                        linked below.</p>
                    <p><a href="mailto:allison@bistlineeast.com">allison@bistlineeast.com</a></p>
                    <p>Allison Bistline East<br>
                        allison@bistlineeast.com<br>
                        Applied Ecology Unit<br>
                        Centre for Environmental Science<br>
                        School of Natural Sciences<br>
                        National University of Ireland<br>
                        Galway, Ireland</p>
                    <div class="socialMediaButtons header-spacing-before">
                        <span><a href="https://twitter.com/abeentomology"><i class="fa fa-twitter-square fa-4x"></i></a></span>
                        <span><a href="https://scholar.google.com/citations?user=jXBvO7cAAAAJ&hl=en"><i class="ai ai-google-scholar-square ai-4x"></i></a></span>
                        <span><a href="https://www.researchgate.net/profile/Allison_Bistline-East"><i class="ai ai-researchgate-square ai-4x"></i></a></span>
                        <span><a href="https://www.linkedin.com/in/allisonbistlineeast"><i class="fa fa-linkedin-square fa-4x"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('footer.html')
