@@include('header.html', {
"title": "Allison Bistline-East, MSc - Contact"
})
@@include('nav.html')

<div id="containerBody" class="container">

    <div id="mainBody" class="row">
        <div class="fullWidthColumn col-sm-36">
            <div id="bodyText" class="box-gray box-text">
                <h1>Contact</h1>
                I'm always happy to chat about research, collaborations, and sci-comm. You can get in touch by sending me an email or find me online through any of the sites linked below.
                Allison Bistline East
                allison@bistlineeast.com
                Applied Ecology Unit
                Centre for Environmental Science
                School of Natural Sciences
                National University of Ireland
                Galway, Ireland
            </div>
        </div>
    </div>

</div><!-- .containerBody-->

@@include('footer.html')
