@@include('header.html', {
"title": "Allison Bistline-East, MSc - Contact"
})
@@include('nav.html')

<div id="containerBody" class="container">

    <div id="mainBody" class="row">
        <div class="fullWidthColumn col-sm-36">
            <div id="bodyText" class="box-gray box-text">
                <h1>Contact</h1>
                <p>I'm always happy to chat about research, collaborations, and sci-comm. You can get in touch by sending me an email or find me online through any of the sites linked below.</p>
                <br>
				<!-- TODO reduce line spacing-->
				<p>Allison Bistline East</p>
                <p>allison@bistlineeast.com</p>
                <p>Applied Ecology Unit</p>
                <p>Centre for Environmental Science</p>
                <p>School of Natural Sciences</p>
                <p>National University of Ireland</p>
                <p>Galway, Ireland</p>

				<!-- TODO include icons w/social media links in page div-->
            </div>
        </div>
    </div>

</div><!-- .containerBody-->

@@include('footer.html')
