@@include('header.html', {
    "title": "Allison Bistline-East, PhD"
})
@@include('nav.html')

<div id="backgroundImage"></div>

<div id="containerByline" class="container">
    <div class="row">
        <div id="byline" class="col-sm-18 col-md-16">
            <div id="bylineVerticalPosition">
                <h1><em>&quot;Every kid has a bug period...<br>I never grew out of mine.&quot;</em></h1>
                <h2><em>- E.O. Wilson</em></h2>
            </div>
        </div>
    </div>
</div>

<div id="containerBody" class="container">

    <div id="about" class="row">
        <div class="sizer col-sm-push-18 col-sm-18 col-md-push-16 col-md-20">
            <div id="aboutText" class="sized box-gray box-text">
                <div id="aboutTextVerticalCenter">
                    <h2>Allison Bistline-East, PhD</h2>
                    <p>Hello, thanks for visiting my website! I earned my PhD in Environmental Science at the National University of Ireland, Galway. I earned my MSc in Entomology from the University of California, Riverside, after working in the Entomology Department as a research assistant for several years.</p>
                </div>
            </div>
        </div>
        <div class="sizer col-sm-pull-18 col-sm-18 col-md-pull-20 col-md-16">
            <div id="aboutImage" class="sized"></div>
        </div>
    </div>

    <div id="research" class="row">
        <div id="researchButton" class="box-purple box-button   col-xs-10   col-sm-offset-11 col-sm-7   col-md-offset-10 col-md-6">
            <div class="squareDummy"></div>
            <a href="Bistline-East CV.pdf" class="squareContent">
                <div class="verticalCenter">
                    <h1>CV</h1>
                </div>
            </a>
        </div>
        <div id="researchText" class="box-green box-text   col-xs-26   col-sm-16   col-md-16">
            <p>I have extensive experience in biological control, insect physiology, population genetics, bioinformatics, ecology, and statistics. I earned my PhD in 2019, and look forward to pursuing a research career in applied entomology.</p>
        </div>
    </div>

    <div id="section3" class="row">
        <div class="sizer col-sm-36">
            <div id="section3image" class="sized"></div>
        </div>
    </div>

    <div id="publications" class="container">
        <div id="publicationsWide" class="row">
            <div class="col-xs-14 col-sm-offset-2">
                <div class="row">
                    <div class="box-dark box-button col-xs-offset-21 col-xs-15">
                        <div class="squareDummy"></div>
                        <a href="https://www.researchgate.net/profile/Allison_Bistline-East" class="squareContent">
                            <div class="verticalCenter">
                                <h2><i class="ai ai-researchgate ai-2x"></i></h2>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="publicationsImage col-xs-36"></div>
                </div>
            </div>
            <div class="col-xs-22 col-sm-20">
                <div class="publicationsRowText row">
                    <div class="sizer col-xs-28">
                        <div class="publicationsText box-gray box-text sized">
                            <div class="publicationsTextVerticalCenter">
                                <p>You can find me online by following me on <a href="https://twitter.com/ABEentomology">Twitter</a> or by visiting my <a href="https://scholar.google.com/citations?user=jXBvO7cAAAAJ&hl=en">Google Scholar</a>, <a href="https://www.researchgate.net/profile/Allison_Bistline-East">Research Gate</a>, and <a href="https://www.linkedin.com/in/allisonbistlineeast">LinkedIn</a> pages. Get in touch by emailing me: <a href="mailto:allison@bistlineeast.com">allison@bistlineeast.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="publicationsRow2 row">
                    <div class="col-xs-11">
                        <div class="row">
                            <div class="box-green box-button col-xs-36">
                                <div class="squareDummy"></div>
                                <a href="https://www.linkedin.com/in/allisonbistlineeast" class="squareContent">
                                    <div class="verticalCenter">
                                        <h2><i class="fa fa-linkedin fa-2x"></i></h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="box-purple box-button col-xs-36">
                                <div class="squareDummy"></div>
                                <a href="https://scholar.google.com/citations?user=jXBvO7cAAAAJ&hl=en" class="squareContent">
                                    <div class="verticalCenter">
                                        <h2><i class="ai ai-google-scholar ai-2x"></i></h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-25 publicationsRowImage2">
                        <div class="publicationsImage2"></div>
                    </div>
                </div>
            </div>
        </div>


        <div id="publicationsMobile" class="container">
            <div class="publicationsMobileRowText row">
                <div class="sizer col-xs-36">
                    <div class="publicationsText box-gray box-text sized">
                        <div class="publicationsTextVerticalCenter">
                            <p>Visit my <a href="https://www.researchgate.net/profile/Allison_Bistline-East">Research Gate</a>, <a href="https://www.linkedin.com/in/allisonbistlineeast">LinkedIn</a>, and <a href="https://scholar.google.com/citations?user=jXBvO7cAAAAJ&hl=en">Google Scholar</a> pages for a description of my education, previous research, and publications. Get in touch by emailing me: <a href="mailto:allison@bistlineeast.com">allison@bistlineeast.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="publicationsMobileRowImages">
                <div class="col-xs-16">
                    <div class="row">
                        <div class="publicationsImage col-xs-36"></div>
                    </div>
                </div>
                <div class="col-xs-20">
                    <div class="row">
                        <div class="box-purple box-button col-xs-12">
                            <div class="squareDummy"></div>
                            <div class="squareContent">
                                <div class="verticalCenter">
                                    <h2><a href="https://www.researchgate.net/profile/Allison_Bistline-East"><i class="ai ai-researchgate ai-2x"></i></a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="box-dark box-button col-xs-12">
                            <div class="squareDummy"></div>
                            <div class="squareContent">
                                <div class="verticalCenter">
                                    <h2><a href="https://www.linkedin.com/in/allisonbistlineeast"><i class="fa fa-linkedin fa-2x"></i></a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="box-green box-button col-xs-12">
                            <div class="squareDummy"></div>
                            <div class="squareContent">
                                <div class="verticalCenter">
                                    <h2><a href="https://scholar.google.com/citations?user=jXBvO7cAAAAJ&hl=en"><i class="ai ai-google-scholar ai-2x"></i></a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="publicationsImage2 col-xs-36"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!-- .containerBody-->

@@include('footer.html')
