@@include('header.html', {
"title": "Allison Bistline-East, MSc - Outreach"
})
@@include('nav.html')

<div id="containerBody" class="container">

    <div id="mainBody" class="row">
        <div class="fullWidthColumn col-sm-36">
            <div id="bodyText" class="box-gray box-text">
                <h1>Outreach</h1>
                Charles Darwin once wrote, "I am dying by inches, from not having anybody to talk to about insects." I whole-heartedly identify with this sentiment, and I am never happier than when I have the chance to talk to people about entomology. Aside from research, one of my primary passions is outreach and I strive to be active in the communication of my research for both academics and the public.
                If you are interested in a downloadable fact sheet about my Tetanocera elata research, you can access a PDF here [pdf link].

                Upcoming events! [H2]
                Ongoing		Skype a Scientist
                find out more about the programme here [link https://www.skypeascientist.com/]
                24 April			Bright Club Galway speaker
                tickets available soon!
                20-22 May		Pint of Science Ireland Galway event organiser
                find out more about our events here [link https://pintofscience.ie/events/Galway]
                29 June 		Soapbox Science Galway speaker
                find out more about the event here [link http://soapboxscience.org]

                Past events & involvements [H2]
                September 2018	PubhD Galway speaker
                September 2018	"Insects and agriculture" farm talk (invited), Beechlawn Organic Farm Open Day, Ballinasloe, IE
                May 2018		Pint of Science Ireland Galway regional coordinator
                September 2017	"Slugs & the flies that eat them" outreach seminar (invited), Go Wild! Galway
                July 2017		Soapbox Science Galway support and logistics volunteer
                2016-2017	 	"Science Experience!" demonstrator, NUI Galway Open Day
                December 2015		Colloquium for Animal and Plant Ecological Research organising committee member
                April 2015		1st Annual Riverside Insect Fair co-chair
                January 2015		Riverside Unified School District Science Fair judge
                2013-2015		UCR Entomology Graduate Student Association public education outreach volunteer
            </div>
        </div>
    </div>

</div><!-- .containerBody-->

@@include('footer.html')
