@@include('header.html', {
"title": "Allison Bistline-East, MSc - Outreach"
})
@@include('nav.html', {
"activeOutreach": "active"
})

<div id="containerBody" class="container">

    <div id="mainBody" class="row">
        <div class="fullWidthColumn col-sm-36">
            <div id="bodyText" class="box-gray box-text">
                <h1>Outreach</h1>
				<br>
                <p>Charles Darwin once wrote, "I am dying by inches, from not having anybody to talk to about insects." I whole-heartedly identify with this sentiment, and I am never happier than when I have the chance to talk to people about entomology. Aside from research, one of my primary passions is outreach and I strive to be active in the communication of my research for both academics and the public.</p>
                </p>If you are interested in a downloadable fact sheet about my <em>Tetanocera elata</em> research, you can access a PDF <a href="pdf/TE outreach flyer.pdf">here</a>.</p>
				<br>

                <h3>Upcoming events!</h3>

				 <!-- TODO edit table headers to be centred, content to be L-aligned -->

				<table class="table table-borderless">
				  <thead>
					<tr>
					  <th scope="col">Date</th>
					  <th scope="col">Event</th>
					  <th scope="col">Role</th>
				 	</tr>
				  </thead>
				  <tbody>
					<tr>
					  <td>Ongoing</td>
					  <td> <a href="https://www.skypeascientist.com/">Skype a Scientist</a> </td>
					  <td>Participating scientist</td>
					</tr>
					<tr>
					  <td>24 April</td>
					  <td> <a href="http://brightclub.ie/">Bright Club Galway</a> </td>
					  <td>Speaker</td>
					</tr>
					<tr>
					  <td>20-22 May</td>
					  <td> <a href="https://pintofscience.ie/events/Galway">Pint of Science Ireland Galway</a> </td>
					  <td>Event organiser</td>
					</tr>
					<tr>
					  <td>29 June</td>
					  <td> <a href="http://soapboxscience.org">Soapbox Science Galway</a> </td>
					  <td>Speaker</td>
					</tr>
				  </tbody>
				</table>

				<br>
				<br>

                <h3>Past events & involvements</h3>

				<!-- TODO edit table headers to be centred, content to be L-aligned -->

					<table class="table table-borderless">
				  <thead>
					<tr>
					  <th scope="col">Date</th>
					  <th scope="col">Event</th>
					  <th scope="col">Role</th>
				 	</tr>
				  </thead>
				  <tbody>
					<tr>
					  <td>September 2018</td>
					  <td><a href="https://pubhd.ie/galway/">PubhD Galway</a></td>
					  <td>Speaker</td>
					</tr>
					<tr>
					  <td>September 2018</td>
					  <td>"Insects and agriculture" farm talk, Beechlawn Organic Farm Open Day, Ballinasloe, IE</td>
					  <td>Invited speaker</td>
					</tr>
					<tr>
					  <td>May 2018</td>
					  <td>Pint of Science Ireland Galway</td>
					  <td>Regional coordinator</td>
					</tr>
					<tr>
					  <td>September 2017</td>
					  <td>"Slugs & the flies that eat them" public seminar, Go Wild! Galway</td>
					  <td>Invited speaker</td>
					</tr>
										<tr>
					  <td>July 2017</td>
					  <td>Soapbox Science Galway</td>
					  <td>Volunteer</td>
					</tr>
										<tr>
					  <td>2016-2017</td>
					  <td>"Science Experience!", NUI Galway</td>
					  <td>Demonstrator</td>
					</tr>
										<tr>
					  <td>December 2015</td>
					  <td>Colloquium for Animal and Plant Ecological Research</td>
					  <td>Organising committee member</td>
					</tr>
										<tr>
					  <td>April 2015</td>
					  <td>1st Annual Riverside Insect Fair</td>
					  <td>Co-chair</td>
					</tr>
										<tr>
					  <td>January 2015</td>
					  <td>Riverside Unified School District Science Fair</td>
					  <td>Judge</td>
					</tr>
										<tr>
					  <td>2013-2015</td>
					  <td>UCR Entomology Graduate Student Association</td>
					  <td>public education outreach volunteer</td>
					</tr>
				  </tbody>
				</table>


            </div>
        </div>
    </div>

</div><!-- .containerBody-->

@@include('footer.html')
