@@include('header.html', {
"title": "Allison Bistline-East, MSc - Publications"
})
@@include('nav.html')

<div id="containerBody" class="container">

    <div id="mainBody" class="row">
        <div class="fullWidthColumn col-sm-36">
            <div id="bodyText" class="box-gray box-text">
                <h1>Publications</h1>
                <h2>Peer-Reviewed Publications</h2>
                <ol>
                    <li>Bistline-East, A. and M.J. Gormally. Nutritional ecology of predaceous Tetanocera elata (Diptera: Sciomyzidae) larvae and the physiological effects of prey
                        utilisation. in prep: BioControl
                    </li>
                    <li>Milosavljević I., K.A. McCalla, A. Bistline-East, and M.S. Hoddle. 2019. Threshold temperatures and thermal requirements of Psyllaphycus diaphorinae
                        (Hymenoptera: Encyrtidae), a hyperparasitoid of Diaphorencyrtus aligarhensis (Hymenoptera: Encyrtidae) and Tamarixia radiata (Hymenoptera: Eulophidae).
                        submitted: Florida Entomologist
                    </li>
                    <li>D’Ahmed K.S, C. Stephens, A. Bistline-East, C.D. Williams, R.J. McDonnell, M. Carnaghi, D.ÓhUallacháin, M.J. Gormally. 2019. Biological control of
                        pestiferous slugs using Tetanocera elata (Fabricius) (Diptera: Sciomyzidae): Larval behavior and feeding on slugs exposed to Phasmarhabditis hermaphrodita
                        (Schneider, 1859) (Rhabditida: Rhabditidae) with notes on adult egg-laying. submitted: Biological Control
                    </li>
                    <li>Bistline-East, A., J.G.J. Carey, A. Colton, M. Day, and M.J. Gormally. 2018. Catching flies with honey(dew): Marsh flies (Diptera: Sciomyzidae) utilize
                        sugary secretions for high-carbohydrate diets. Environmental Entomology. doi: 10.1093/ee/nvy155 [link
                        https://academic.oup.com/ee/article-abstract/47/6/1632/5139703]
                    </li>
                    <li>Irvin, N.A., A. Bistline-East, and M.S.Hoddle, 2016. The effect of an irrigated buckwheat and vetch cover crop on grape yield, berry quality, vine vigor,
                        and abundance of beneficial insects and grape pests in California. Biological Control 93: 72-83. doi: 10.1016/j.biocontrol.2015.11.009 [link
                        https://www.sciencedirect.com/science/article/pii/S1049964415300530]
                    </li>
                    <li>Bistline-East, A. and M.S. Hoddle. 2015. Biology of Psyllaphycus diaphorinae (Hymenoptera: Encyrtidae), a hyperparasitoid of Diaphorencyrtus aligarhensis
                        (Hymenoptera: Encyrtidae) and Tamarixia radiata (Hymenoptera: Eulophidae). Annals of the Entomological Society of America 109(1):22–28. [upload PDF]
                    </li>
                    <li>Bistline-East, A., R. Pandey, M. Kececi, and M.S. Hoddle. 2015. Host range testing of Diaphorencyrtus aligarhensis (Hymenoptera: Encyrtidae) for use in
                        classical biological control of Diaphorina citri (Hemiptera: Liviidae) in California. Journal of Economic Entomology 108(3):940-950. [upload PDF]
                    </li>
                    <li>Bistline-East, A. and M. S. Hoddle. 2014. Chartocerus sp. (Hymenoptera: Signiphoridae) and Pachyneuron crassiculme (Hymenoptera: Pteromalidae) are obligate
                        hyperparasitoids of Diaphorencyrtus aligarhensis (Hymenoptera: Encyrtidae) and possibly Tamarixia radiata (Hymenoptera: Eulophidae). Florida Entomologist
                        97(2): 562-566. [upload PDF]
                    </li>
                </ol>
                <h2>Industry & Outreach Publications</h2>
                <ol>
                    <li>Bistline-East, Allison. 11 Jan 2016. Psyllaphycus diaphorinae: Another natural enemy from Pakistan for ACP biocontrol? Center for Invasive Species Research
                        blog. http://cisr.ucr.edu/blog/psyllids/psyllaphycus-diaphorinae-another-natural-enemy-from-pakistan-for-acp-biocontrol/
                    </li>
                    <li>Hoddle, M.S., A. Bistline-East, C.D. Hoddle, and M. Lewis. 2015. Enlisting a second natural enemy species for ACP biocontrol. Citrograph 6 (2): 58-63. [link
                        https://www.citrusresearch.org/citrograph/citrograph-spring-2015/#more-5872]
                    </li>
                </ol>
            </div>
        </div>
    </div>

</div><!-- .containerBody-->

@@include('footer.html')
