@@include('header.html', {
"title": "Allison Bistline-East, MSc - Publications"
})
@@include('nav.html')

<div id="containerBody" class="container">

    <div id="mainBody" class="row">
        <div class="fullWidthColumn col-sm-36">
            <div id="bodyText" class="box-gray box-text">
                <h1>Publications</h1>
                <h3>Peer-Reviewed Publications</h3>
				<!-- TODO left-align h3, list -->

               <ol>
                    <li><strong>Bistline-East, A.</strong> and M.J. Gormally. Nutritional ecology of predaceous <em>Tetanocera elata</em> (Diptera: Sciomyzidae) larvae and the physiological effects of prey
                        utilisation. <small>in prep: BioControl</small>
                    </li>
                    <li>Milosavljević I., K.A. McCalla, <strong>A. Bistline-East</strong>, and M.S. Hoddle. 2019. Threshold temperatures and thermal requirements of <em>Psyllaphycus diaphorinae</em>
                        (Hymenoptera: Encyrtidae), a hyperparasitoid of <em>Diaphorencyrtus aligarhensis</em> (Hymenoptera: Encyrtidae) and <em>Tamarixia radiata</em> (Hymenoptera: Eulophidae).
                        <small>submitted: Florida Entomologist</small>
                    </li>
                    <li>D’Ahmed K.S, C. Stephens, <strong>A. Bistline-East</strong>, C.D. Williams, R.J. McDonnell, M. Carnaghi, D.ÓhUallacháin, M.J. Gormally. 2019. Biological control of
                        pestiferous slugs using <em>Tetanocera elata</em> (Fabricius) (Diptera: Sciomyzidae): Larval behavior and feeding on slugs exposed to <em>Phasmarhabditis hermaphrodita</em>
                        (Schneider, 1859) (Rhabditida: Rhabditidae) with notes on adult egg-laying. <small>submitted: Biological Control</small>
                    </li>
                    <li><strong>Bistline-East, A.</strong>, J.G.J. Carey, A. Colton, M. Day, and M.J. Gormally. 2018. Catching flies with honey(dew): Marsh flies (Diptera: Sciomyzidae) utilize
                        sugary secretions for high-carbohydrate diets. Environmental Entomology 47(6): 1632-1641. <a href="https://academic.oup.com/ee/article-abstract/47/6/1632/5139703">doi: 10.1093/ee/nvy155</a>
                    </li>
                    <li>Irvin, N.A., <strong>A. Bistline-East</strong>, and M.S.Hoddle, 2016. The effect of an irrigated buckwheat and vetch cover crop on grape yield, berry quality, vine vigor,
                        and abundance of beneficial insects and grape pests in California. Biological Control 93: 72-83. <a href="https://www.sciencedirect.com/science/article/pii/S1049964415300530">doi: 10.1016/j.biocontrol.2015.11.009</a>
                    </li>
                    <li><strong>Bistline-East, A.</strong> and M.S. Hoddle. 2015. Biology of <em>Psyllaphycus diaphorinae</em> (Hymenoptera: Encyrtidae), a hyperparasitoid of <em>Diaphorencyrtus aligarhensis</em>
                        (Hymenoptera: Encyrtidae) and <em>Tamarixia radiata</em> (Hymenoptera: Eulophidae). <a href="pdf/2015 Bistline-East & Hoddle - Biology of Psyllaphycus diaphorinae AESA.pdf">Annals of the Entomological Society of America 109(1):22–28.</a>
                    </li>
                    <li><strong>Bistline-East, A.</strong>, R. Pandey, M. Kececi, and M.S. Hoddle. 2015. Host range testing of <em>Diaphorencyrtus aligarhensis</em> (Hymenoptera: Encyrtidae) for use in
                        classical biological control of <em>Diaphorina citri</em> (Hemiptera: Liviidae) in California. <a href="pdf/2015 Bistline-East et al - Diaphorencyrtus safety testing.pdf">Journal of Economic Entomology 108(3):940-950.</a>
                    </li>
                    <li><strong>Bistline-East, A.</strong> and M. S. Hoddle. 2014. <em>Chartocerus</em> sp. (Hymenoptera: Signiphoridae) and <em>Pachyneuron crassiculme</em> (Hymenoptera: Pteromalidae) are obligate
                        hyperparasitoids of <em>Diaphorencyrtus aligarhensis</em> (Hymenoptera: Encyrtidae) and possibly <em>Tamarixia radiata</em> (Hymenoptera: Eulophidae). <a href="pdf/2014 Bistline-East & Hoddle - Hyperparasitoid host association.pdf">Florida Entomologist
                        97(2): 562-566.</a>
                    </li>
                </ol>
				<br>
                <h3>Industry & Outreach Publications</h3>
                <ol>
                    <li><strong>Bistline-East, A.</strong> 11 Jan 2016. <em>Psyllaphycus diaphorinae</em>: Another natural enemy from Pakistan for ACP biocontrol? <a href="http://cisr.ucr.edu/blog/psyllids/psyllaphycus-diaphorinae-another-natural-enemy-from-pakistan-for-acp-biocontrol/">Center for Invasive Species Research
                        blog.</a>
                    </li>
                    <li>Hoddle, M.S., <strong>A. Bistline-East</strong>, C.D. Hoddle, and M. Lewis. 2015. Enlisting a second natural enemy species for ACP biocontrol. <a href="https://www.citrusresearch.org/citrograph/citrograph-spring-2015/#more-5872">Citrograph 6 (2): 58-63.</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>

</div><!-- .containerBody-->

@@include('footer.html')
