@@include('header.html', {
"title": "Allison Bistline-East, MSc - Research"
})
@@include('nav.html', {
"activeResearch": "active"
})

<div id="containerBody" class="container">

    <div id="mainBody" class="row">
        <div class="fullWidthColumn col-sm-36">
            <div id="bodyText" class="box-gray box-text">
                <h1>Research</h1>
				<br>
                <p>Broadly, I am interested in conducting entomology research that benefits sustainable agriculture and conservation efforts. Using ecological approaches, alterations to agricultural landscape management can be made which result in higher levels of semi-natural habitat and biodiversity on farms. This concept is sometimes referred to as "ecological intensification". In future research, I intend to pursue similar lines of investigation by experimentally testing the effects of different natural management manipulations on natural enemy and pest populations, and evaluate the improvement or detriment to crop yield and site-level biodiversity.

				<p><strong>Research Interests:</strong> evolution and ecology of insects, agricultural entomology, invasive species, biological control</p>
                <p><strong>Affiliations:</strong> Entomological Society of America, British Ecological Society, Royal Entomological Society</p>

				<br>

                <h3>Conservation biological control of slugs in Irish horticulture</h3>
                <p><em>Affiliation: Applied Ecology Unit, Centre for Environmental Science, National University of Ireland Galway</em></p>
                <p><em>PI: Professor Mike Gormally</em></p>
                <p>In rainy, temperate climates such as that of Ireland and the UK, terrestrial slugs contribute considerable portions to the 15% annual loss of crops by pest
                    damage. In traditional agriculture, slug populations would normally be controlled with the surface application of chemical slug pellets, however a majority of
                    these pesticides were banned by the EU in 2014 due to their high environmental toxicity. In order to meet the growing needs of traditional and organic tillage
                    farmers in Ireland, my research has examined the potential for pest slugs to be controlled through a biological control approach. The marsh fly <em>Tetanocera
                        elata</em> (native throughout northern Europe, including Ireland) is a parasitoid in its early larval stages on <em>Deroceras</em> species, which are
                    significant agricultural and garden pests. Over the course of my PhD, I have experimentally determined the dietary requirements of adults (<a href="publications.html">Bistline-East et al.
                    2018</a>) and the host range of larvae in their predatory phase (<a href="publications.html">Bistline-East & Gormally in prep</a>).</p>

				<p><img src="img/research/mulranny_fieldwork.jpg" alt="Surveying for marsh flies in Mulranny with the Applied Ecology Unit" style="float:right"; width="250"></p>
				<!--TODO rotate & fix scaling -->

					<p>The goal of any potential biological control programme utilising <em>T. elata</em> is one of conservation biological control, where populations of these natural
                    enemies would be introduced into agroecosystems and be self-sustaining with minimal continuing input. To this end, I have evaluated environmental features of
                    local habitats in order to identify specific landscape features that are beneficial to <em>T. elata</em> populations, with the end goal of providing a set of
                    landscape management recommendations to growers hoping to maintain populations of these insects. This research is in its final stages and publication is
                    forthcoming (Bistline-East, Burke, & Gormally <em>in prep</em>).</p>

				<p><img src="img/research/oregon_fieldwork.jpg" alt="Surveying for marsh flies in Oregon, USA" style="float:left"; width="250"></p>
				<!--TODO rotate & fix scaling -->

                <p>The final component of my PhD research was a collaborative study with <a href="https://cropandsoil.oregonstate.edu/users/rory-mc-donnell">Dr Rory Mc Donnell at
                    Oregon State University </a> examining the genetic diversity of <em>T. elata</em> populations in Ireland, and how <em>T. elata</em> compare taxonomically to
                    their North American analogue <em>Tetanocera plebeja</em>. Results of this study are still being analysed, and outcomes are expected to provide insights into
                    dispersal potential of <em>T. elata</em> and be useful for developing robust populations for pest control, as well as providing a perspective on the natural
                    history of old-world and new-world <em>Tetanocera</em> species.</p>

					<br>
					<br>

                <h3>Classical biological control of invasive Asian citrus psyllid in California</h3>
                <p><em>Affiliation: Center for Invasive Species Research, Department of Entomology, University of California Riverside</em></p>
                <p><em>PI: Dr Mark Hoddle</em></p>

				<p><img src="img/research/ucr_citrus.jpg" alt="Releasing parasitoid wasps to control ACP in Riverside, CA" style="float:right"; width="250"></p>
				<!--TODO rotate & fix scaling -->

				<p>The invasive Asian citrus psyllid (ACP), <em>Diaphorina citri</em>, was first detected in California in 2008. From 2012 to 2015, I conducted research which
                    contributed to the state-wide classical biological control programme. Using parasitoid wasps collected from Pakistan (an area where ACP is native), I performed
                    host specificity trials and non-target assessments under USDA-APHIS quarantine for several species being considered for incorporation in the ACP programme (<a href="publications.html">Bistline-East et al. 2015</a>).
                    Additionally, I developed rearing protocols for parasitoid wasps and conducted developmental studies of both primary and hyperparasitoids associated with ACP (<a href="publications.html">Bistline-East & Hoddle 2015</a>).
                    Through this research, I was able to collaborate with researchers from other universities, the USDA, and CDFA, as well as local growers and homeowners.</p>

					<br>
					<br>

                <h3>Insect ecology in California</h3>
                <p><em>Affiliation: Center for Invasive Species Research, Department of Entomology, University of California Riverside</em></p>
				<p><em>PI: Dr Mark Hoddle, Dr Nic Irvin</p></em>
                <p>Before focusing on any particular system, I contributed supportive research to a variety of projects being conducted in the Hoddle lab including projects in
                    agroecosystems and native oak forests. At an organic vineyard site in Temecula, CA I conducted on-site monitoring for pest and beneficial insects, which
                    contributed to the publication of the first substantial study on the benefits and limitations of cover cropping for insect pest management in California
                    vineyards (<a href="publications.html">Irvin et al. 2016</a>). I also conducted regular field monitoring for invasive gold-spotted oak borer beetles (<em>Agrilus
                        auroguttatus</em>) and its natural enemies in Cleveland National Forest (San Diego County, CA), glassy-winged sharpshooter (<em>Homalodisca vitripennis</em>)
                    in Riverside, CA, and ACP in urban and suburban sites in Riverside, San Bernardino, Orange, and Los Angeles Counties. In the laboratory, I provided technical
                    support by developing rearing methods for various species of parasitoids and colonies of persea mite (<em>Oligonychus perseae</em>) and associated natural
                    enemies.</p>

					<br>
					<br>
				<!-- TODO for imgs: resize to be equal, span 3 across page-->
				<img src="img/research/habitat_survey.jpg" alt="Habitat survey setup" style="width:300px;">
				<img src="img/research/beechlawn_farm_fieldwork.jpg" alt="Insect survey at Beechlawn Organic Farm" style="width:300px;">
				<img src="img/research/flies.jpg" alt="Tetanocera elata adults in cage" style="width:300px;">


            </div>
        </div>
    </div>

</div><!-- .containerBody-->

@@include('footer.html')
