<div id="containerHeader" class="container">
    <nav class="navbar navbar-default">
        <div class="navbar-header visible-xs-block hidden-sm-block hidden-md-block hidden-lg-block">
            <div id="headerMobileRow" class="row">
                <div class="headerName visible-xs-block _col-xs-26" id="headerNameTiny">
                    <div id="headerNameTinyWidthLimiter">
                        <a href="/" class="navbar-brand">
                            <div class="nameplate verticalCenter">
                                <h1>Allison Bistline-East, MSc</h1>
                                <h3>Applied entomology, agroecology</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="_col-xs-offset-6 _col-xs-4 _col-xs-10">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsing-navbar-area" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div><!--row-->
        </div><!-- navbar-header -->

        <div id="collapsing-navbar-area" class="row collapse navbar-collapse">
            <div class="col-sm-10 col-md-10 headerName visible-sm-block visible-md-block visible-lg-block" id="headerNameWide">
                <a href="/" class="navbar-brand">
                    <div class="nameplate verticalCenter">
                        <h1>Allison Bistline-East, MSc</h1>
                        <h3>Applied entomology, agroecology</h3>
                    </div>
                </a>
            </div>
            <div id="headerLinks" class="col-sm-20 col-md-20">
                <ul class="nav navbar-nav">
                    <li class="@@activeAbout hidden-xs-block"><a href="about.html">About</a></li>
                    <li class="@@activeResearch"><a href="research.html">Research</a></li>
                    <li class="@@activePublications"><a href="publications.html">Publications</a></li>
                    <li class="@@activeOutreach"><a href="outreach.html">Outreach</a></li>
                    <li class="@@activeContact"><a href="contact.html">Contact</a></li>
                    <li class="visible-xs-block visible-md-block visible-lg-block"><a href="Bistline-East CV.pdf">Curriculum Vitae</a></li>
                    <li class="visible-sm-block"><a href="Bistline-East CV.pdf">CV</a></li>
                </ul>
            </div>
            <div id="headerIcons" class="col-sm-6 col-md-6">
                <div class="verticalCenter">
                    <div id="headerSocialMedia" class="socialMediaButtons">
                        <span><a href="https://twitter.com/abeentomology"><i class="fa fa-twitter-square fa-2x"></i></a></span>
                        <span><a href="https://scholar.google.com/citations?user=jXBvO7cAAAAJ&hl=en"><i class="ai ai-google-scholar-square ai-2x"></i></a></span>
                        <span><a href="https://www.researchgate.net/profile/Allison_Bistline-East"><i class="ai ai-researchgate-square ai-2x"></i></a></span>
                        <span><a href="https://www.linkedin.com/in/allisonbistlineeast"><i class="fa fa-linkedin-square fa-2x"></i></a></span>
                    </div>
                </div>
            </div><!-- col -->
        </div><!-- row -->
    </nav>
</div><!-- containerHeader -->


